[submodule "ImGuiApp"]
	path = ImGuiApp
	url = https://github.com/ktsu-io/ImGuiApp.git
[submodule "StrongPaths"]
	path = StrongPaths
	url = https://github.com/ktsu-io/StrongPaths.git
[submodule "ReusableWinForms"]
	path = ReusableWinForms
	url = https://github.com/ktsu-io/ReusableWinForms.git
[submodule "CodeBlocker"]
	path = CodeBlocker
	url = https://github.com/ktsu-io/CodeBlocker.git
